{% extends 'base.html.twig' %}

{% block title %}Mes hobbies{% endblock %}

{% block body %}

<div class="container">
    <h1>Mes hobbies</h1>

    <ul>
        <li>Le sport (musculation, escalade, vélo, série netflix)</li>
        <li>Esport (Joueur R6 depuis le debut, très incrusté dans la communauté competitive (un de mes projet : <a target="_blank" href="http://wearesiege.com">WeAreSiege</a></li>
        <li>Code (petit projets ici et la pour approfondir mes connaissances)</a></li>
        <li>Films et series (avec le covid, je me suis senti vraiment forcé de regarder des series dans mon canapé :/) </a></li>
    </ul>
</div>
{% endblock %}
