{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur mon site !</h1>

    <h2>Qui suis-je ?</h2>
    <p>Je m'appelle Alexandre VERHOYE et je suis etudiant developpeur full-stack. Ce site est moche (très moche) mais il a été réalisé en 30 minutes afin d'apprendre Symfony.</p>
    <h2>Mes skills</h2>
    <h3>Front-End</h3>
    <ul>
        <li>HTML/CSS/JS vanilla</li>
        <li>ReactJS (+ NextJs)</li>
        <li>PHP</li>
        <li>Angular</li>
        <li>Tailwind</li>
        <li>MaterialUI</li>
        <li>React Native</li>
    </ul>

    <h3>Back-End</h3>
    <ul>
        <li>Python</li>
        <li>PHP</li>
        <li>NodeJS</li>
        <li>GraphQL</li>
        <li>Postgres</li>
        <li>MongoDB</li>
        <li>RethinkDB</li>
        <li>Firebase</li>
        <li>Headless CMS (Forestry, GraphCMS)</li>
    </ul>
</div>
{% endblock %}
