{% extends 'base.html.twig' %}

{% block title %}Experiences pro.{% endblock %}

{% block body %}
<div class="container">
    <h1>Mes experiences professionnelles</h1>

    <div class="container">
    <ul>
        <li>2018-2020 - Developpeur Android chez Veolia (Stage de fin d'études + CDD de 1 mois + CDD d'une année d'alternance)</li>
        <li>2020-actuel - Developpeur Full-stack pour Ma-Sauvegarde</li>
    </ul>
    </div>
</div>
{% endblock %}
